section.repository-list {
    margin: 40px;

    h1 {
        text-align: center;
        margin: 1.5rem;
    }

    ul {
        list-style: none;
    }

    li {
        padding: 10px;
        border: double 5px #d2d2d2;

        & + li {
            margin-top: 20px;
        }

        p {
            font-size: 14px;
            color: #444;
            margin-top: 8px;
        }

        a {
            display: inline-block;
            margin-top: 16px;
            text-decoration: none;
            color: #8257e6;
        }
    }
}